[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
    ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim
    ignore = dirty
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim
    ignore = dirty
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
    ignore = dirty
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
    ignore = dirty
