*.swp
*.pyc
*.hi
*.o

.mpd/mpd.db
.mpd/mpd.log
.mpd/mpd.pid
.mpd/mpdstate
.ncmpcpp/error.log

.newsbeuter/cache.db.lock
.newsbeuter/history.cmdline
.newsbeuter/history.search
.newsbeuter/queue
.newsbeuter/cache.db

.mutt/cache
.mutt/gmail

.xmonad/*
!.xmonad/xmonad.hs
!.xmonad/lib

.config/*
!.config/xcolors
!.config/gtk-3.0
!.config/openbox
!.config/cower

.vim/.netrwhist
.vim/backup
.vim/swap
.vim/bundle
