**/.swp
**/.pyc
**/.hi
**/.o
**/.zcache
**/.zcompdump
**/todo.txt

.mpd/
!.mpd/mpd.conf
.ncmpcpp/
!.ncmpcpp/config
!.ncmpcpp/keys

.vim/.netrwhist
.vim/backup
.vim/swap

.xmonad/*
!.xmonad/xmonad.hs
!.xmonad/lib/DynamicTopic.hs

.config/*
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/termite.cfg
!.config/pystartup
!.config/xmodmap
!.config/gtk-2.0/gtkrc
!.config/gtk-3.0/settings.ini
!.config/xcolors
!.config/cower
!.config/newsbeuter
!.config/fontconfig
!.config/git
!.config/zsh
!.config/i3
!.config/i3status
!.config/youtube-viewer
!.config/mutt/muttrc
!.config/mutt/colors.muttrc
!.config/termite
!.config/youtube-dl.conf
!.config/Xresources
!.config/menus
!.config/xfce4
