download_rate = 310
upload_rate = 15

min_peers = 20  ;look for more peers if limit doesn't reach 20
max_peers = 300 ;if there are 300 peers, don't allow any more

# Same as above for seeding completed torrents
min_peers_seed = 10
max_peers_seed = 50

max_uploads = 5
port_range = 49164-49164
check_hash = yes
encryption = require, require_RC4

directory = /home/shivalva/Downloads/torrente
session = /home/shivalva/Downloads/torrente/.session

schedule = watch_directory,5,5, "load_start=/home/shivalva/Downloads/torrente/watch/*"
