! --[ Font Rendering ]-------------------------------------
/* Xft.dpi: 91.79 */
Xft.dpi: 120
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.autohint: true
Xft.lcdfilter: lcddefault

! --[Cursor theme ]-----------------------------------------
Xcursor.theme: Vanilla-DMZ
Xcursor.size:  24

! --[ URxvt - General ]-------------------------------------
URxvt.loginShell:false
URxvt.scrollBar:false
URxvt.saveLines:5000
URxvt.cursorColor:  #370074
URxvt.cursorColor2: #ff00f6
URxvt.highlightColor:#444444
URxvt.underlinecolor: #999999
URxvt.dynamicColors: on
URxvt.internalborder: 0
URxvt.font: -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
URxvt.boldFont: -*-dina-bold-r-*-*-16-*-*-*-*-*-*-*
URxvt.cutchars: "()*,<>[]{}|'"
URxvt.print-pipe: cat >$(mktemp $HOME/Archives/txt/urxvt.XXXXX)
URxvt.visualBell: false
URxvt.urgentOnBell: true
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true

! --[ URxvt - Change fonts on the fly ]---------------------
URxvt.keysym.M-C-1: command:\033]710;-*-dina-medium-r-*-*-16-*-*-*-*-*-*-*\007\033]711;-*-dina-bold-r-*-*-16-*-*-*-*-*-*-*\007
URxvt.keysym.M-C-2: command:\033]710;xft:DejaVuSansMono:pixelsize=18\007\033]711;xft:DejaVuSansMono:pixelsize=18:bold\007


! --[ URxvt - URL/Clipboard Handling ]----------------------
URxvt.perl-ext-common: default,url-select
URxvt.keysym.M-u:      perl:url-select:select_next
URxvt.url-select.launcher: firefox
!URxvt.underlineURLs:   true

! --[ URxvt - colors ]--------------------------------------
URxvt.depth: 32
!URxvt.background: #0A0A0A
URxvt.background: #000000
URxvt.foreground: #999999
#include ".config/xcolors/jwr-dark"
